* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_304 {
  width: 360px;
  height: 7070px;
  background: rgba(255,247,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1461 {
  width: 340px;
  height: 71px;
  background: url("../images/v59_1461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.v59_1462 {
  width: 225px;
  height: 71px;
  background: url("../images/v59_1462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1463 {
  width: 71px;
  height: 71px;
  background: url("../images/v59_1463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1464 {
  width: 92px;
  height: 14px;
  background: url("../images/v59_1464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 133px;
  overflow: hidden;
}
.v59_1465 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 17px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v59_1466 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1467 {
  width: 10px;
  height: 10px;
  background: rgba(190,164,149,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v59_1468 {
  width: 30px;
  height: 25px;
  background: url("../images/v59_1468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 310px;
  overflow: hidden;
}
.v59_1469 {
  width: 30px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1470 {
  width: 30px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v59_1471 {
  width: 30px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v59_1472 {
  width: 30px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v59_1473 {
  width: 30px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v64_2031 {
  width: 344px;
  height: 180px;
  background: url("../images/v64_2031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 10px;
  overflow: hidden;
}
.v59_1482 {
  width: 203px;
  height: 150px;
  background: url("../images/v59_1482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v59_1483 {
  width: 233px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v59_1484 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v59_1487 {
  width: 113px;
  height: 151px;
  background: url("../images/v59_1487.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 345px;
  transform: rotate(-170deg);
  box-shadow: 0px 4px 30px rgba(0.6470588445663452, 0.5921568870544434, 0.5568627715110779, 0.4000000059604645);
}
.v59_1488 {
  width: 360px;
  height: 172px;
  background: url("../images/v59_1488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 0px;
  overflow: hidden;
}
.v59_1489 {
  width: 360px;
  height: 172px;
  background: rgba(165,151,142,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1490 {
  width: 80px;
  height: 80px;
  background: url("../images/v59_1490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 270px;
  overflow: hidden;
}
.v59_1493 {
  width: 80px;
  height: 80px;
  background: url("../images/v59_1493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1494 {
  width: 80px;
  height: 80px;
  background: url("../images/v59_1494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v59_1498 {
  width: 235px;
  height: 108px;
  background: url("../images/v59_1498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 10px;
  overflow: hidden;
}
.v59_1499 {
  width: 233px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 27px;
  left: 2px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v59_1500 {
  width: 84px;
  color: rgba(249,249,249,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v62_1768 {
  width: 99px;
  height: 30px;
  background: url("../images/v62_1768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 261px;
  overflow: hidden;
}
.v62_1769 {
  width: 78px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 21px;
  overflow: hidden;
}
.v62_1770 {
  width: 22px;
  height: 30px;
  background: url("../images/v62_1770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1771 {
  width: 22px;
  height: 30px;
  background: url("../images/v62_1771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1772 {
  width: 24px;
  height: 33px;
  background: rgba(94,68,53,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v61_1630 {
  width: 351px;
  height: 777px;
  background: url("../images/v61_1630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 9px;
  overflow: hidden;
}
.v61_1631 {
  width: 235px;
  height: 81px;
  background: url("../images/v61_1631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v61_1632 {
  width: 235px;
  height: 81px;
  background: url("../images/v61_1632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_1633 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v61_1634 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v62_1754 {
  width: 22px;
  height: 30px;
  background: url("../images/v62_1754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 0px;
  overflow: hidden;
}
.v62_1755 {
  width: 22px;
  height: 30px;
  background: url("../images/v62_1755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1756 {
  width: 24px;
  height: 33px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v61_1635 {
  width: 330px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 21px;
  overflow: hidden;
}
.v64_1919 {
  width: 350px;
  height: 716px;
  background: url("../images/v64_1919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1383px;
  left: 10px;
  overflow: hidden;
}
.v64_1920 {
  width: 204px;
  height: 45px;
  background: url("../images/v64_1920.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 69px;
  overflow: hidden;
}
.v64_1921 {
  width: 204px;
  height: 45px;
  background: url("../images/v64_1921.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_1922 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v64_1923 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v64_1924 {
  width: 335px;
  height: 586px;
  background: url("../images/v64_1924.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 3px;
  overflow: hidden;
}
.v64_1925 {
  width: 335px;
  height: 102px;
  background: url("../images/v64_1925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_1928 {
  width: 335px;
  height: 100px;
  background: url("../images/v64_1928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_1931 {
  width: 335px;
  height: 102px;
  background: url("../images/v64_1931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_1934 {
  width: 335px;
  height: 100px;
  background: url("../images/v64_1934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_1937 {
  width: 335px;
  height: 102px;
  background: url("../images/v64_1937.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v64_1982 {
  width: 350px;
  height: 30px;
  background: url("../images/v64_1982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 686px;
  left: 0px;
  overflow: hidden;
}
.v64_1983 {
  width: 342px;
  height: 30px;
  background: url("../images/v64_1983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v64_1984 {
  width: 328px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 14px;
  overflow: hidden;
}
.v64_1985 {
  width: 14px;
  height: 30px;
  background: url("../images/v64_1985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_1986 {
  width: 14px;
  height: 30px;
  background: url("../images/v64_1986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_1987 {
  width: 22px;
  height: 30px;
  background: url("../images/v64_1987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_1988 {
  width: 22px;
  height: 30px;
  background: url("../images/v64_1988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v64_1989 {
  width: 24px;
  height: 33px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v66_2188 {
  width: 350px;
  height: 1165px;
  background: url("../images/v66_2188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2149px;
  left: 10px;
  overflow: hidden;
}
.v66_2189 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 69px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v66_2190 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 88px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v66_2191 {
  width: 255px;
  height: 345px;
  background: url("../images/v66_2191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 44px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v66_2193 {
  width: 255px;
  height: 345px;
  background: url("../images/v66_2193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 629px;
  left: 37px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v66_2194 {
  width: 350px;
  height: 30px;
  background: url("../images/v66_2194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1135px;
  left: 0px;
  overflow: hidden;
}
.v66_2195 {
  width: 329px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 21px;
  overflow: hidden;
}
.v66_2196 {
  width: 22px;
  height: 30px;
  background: url("../images/v66_2196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_2197 {
  width: 22px;
  height: 30px;
  background: url("../images/v66_2197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_2198 {
  width: 24px;
  height: 33px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v67_2362 {
  width: 361px;
  height: 1140px;
  background: url("../images/v67_2362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3364px;
  left: 0px;
  overflow: hidden;
}
.v67_2363 {
  width: 361px;
  height: 100%;
  background: rgba(165,151,142,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_2364 {
  width: 200px;
  height: 71px;
  background: url("../images/v67_2364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 80px;
  overflow: hidden;
}
.v67_2365 {
  width: 200px;
  height: 71px;
  background: url("../images/v67_2365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_2366 {
  width: 200px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v67_2367 {
  width: 200px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v69_2480 {
  width: 350px;
  height: 653px;
  background: url("../images/v69_2480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4554px;
  left: 10px;
  overflow: hidden;
}
.v69_2481 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 19px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v69_2482 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 72px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v69_2483 {
  width: 250px;
  height: 447px;
  background: url("../images/v69_2483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 50px;
  overflow: hidden;
}
.v69_2484 {
  width: 250px;
  height: 250px;
  background: url("../images/v69_2484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_2485 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 100px;
  overflow: hidden;
}
.v69_2486 {
  width: 41px;
  height: 41px;
  background: rgba(189,189,189,0.8700000047683716);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v69_2487 {
  width: 250px;
  height: 126px;
  background: url("../images/v69_2487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v69_2488 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 63px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v69_2489 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v69_2490 {
  width: 17px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 116px;
  overflow: hidden;
}
.v69_2491 {
  width: 14px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.name {
  color: #fff;
}
.v69_2493 {
  width: 350px;
  height: 30px;
  background: url("../images/v69_2493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 0px;
  overflow: hidden;
}
.v69_2494 {
  width: 332px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 18px;
  overflow: hidden;
}
.v69_2495 {
  width: 22px;
  height: 30px;
  background: url("../images/v69_2495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_2496 {
  width: 22px;
  height: 30px;
  background: url("../images/v69_2496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_2497 {
  width: 24px;
  height: 33px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v70_2568 {
  width: 351px;
  height: 302px;
  background: url("../images/v70_2568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5257px;
  left: 9px;
  overflow: hidden;
}
.v70_2569 {
  width: 194px;
  height: 60px;
  background: url("../images/v70_2569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 86px;
  overflow: hidden;
}
.v70_2570 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v70_2571 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v70_2574 {
  width: 351px;
  height: 30px;
  background: url("../images/v70_2574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 0px;
  overflow: hidden;
}
.v70_2575 {
  width: 330px;
  height: 1px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 21px;
  overflow: hidden;
}
.v70_2576 {
  width: 22px;
  height: 30px;
  background: url("../images/v70_2576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2577 {
  width: 22px;
  height: 30px;
  background: url("../images/v70_2577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2578 {
  width: 24px;
  height: 33px;
  background: rgba(123,97,82,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v70_2691 {
  width: 340px;
  height: 357px;
  background: url("../images/v70_2691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5609px;
  left: 10px;
  overflow: hidden;
}
.v70_2692 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 105px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v70_2693 {
  width: 340px;
  height: 310px;
  background: url("../images/v70_2693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v70_2743 {
  width: 340px;
  height: 30px;
  background: url("../images/v70_2743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v70_2744 {
  width: 340px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 11px rgba(0.7686274647712708, 0.6823529601097107, 0.5921568870544434, 0.20000000298023224);
  overflow: hidden;
}
.v70_2745 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v70_2746 {
  width: 9px;
  height: 7px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 328px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v70_2763 {
  width: 361px;
  height: 120px;
  background: url("../images/v70_2763.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6016px;
  left: 0px;
  overflow: hidden;
}
.v70_2764 {
  width: 361px;
  height: 120px;
  background: url("../images/v70_2764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2765 {
  width: 361px;
  height: 120px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2766 {
  width: 340px;
  height: 58px;
  background: url("../images/v70_2766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 10px;
  overflow: hidden;
}
.v70_2767 {
  width: 210px;
  height: 36px;
  background: url("../images/v70_2767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2768 {
  width: 210px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v70_2812 {
  width: 340px;
  height: 267px;
  background: url("../images/v70_2812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6186px;
  left: 10px;
  overflow: hidden;
}
.v70_2813 {
  width: 340px;
  height: 267px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 11px rgba(0.7803921699523926, 0.686274528503418, 0.6470588445663452, 0.30000001192092896);
  overflow: hidden;
}
.v70_2814 {
  width: 298px;
  height: 207px;
  background: url("../images/v70_2814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 22px;
  overflow: hidden;
}
.v70_2815 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v70_2816 {
  width: 298px;
  height: 100px;
  background: url("../images/v70_2816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v70_2819 {
  width: 27px;
  height: 53px;
  background: url("../images/v70_2819.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 35px;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 7px;
  overflow: hidden;
}
.v70_2820 {
  width: 14px;
  color: rgba(179,179,179,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v70_2821 {
  width: 27px;
  color: rgba(179,179,179,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v70_2903 {
  width: 359px;
  height: 567px;
  background: url("../images/v70_2903.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6503px;
  left: 0px;
  overflow: hidden;
}
.v70_2904 {
  width: 359px;
  height: 567px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2905 {
  width: 209px;
  height: 467px;
  background: url("../images/v70_2905.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 80px;
  overflow: hidden;
}
.v70_2906 {
  width: 209px;
  height: 467px;
  background: url("../images/v70_2906.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2907 {
  width: 71px;
  height: 72px;
  background: url("../images/v70_2907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 69px;
  overflow: hidden;
}
.v70_2908 {
  width: 83px;
  height: 206px;
  background: url("../images/v70_2908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 63px;
  overflow: hidden;
}
.v70_2909 {
  width: 70px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2910 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 38px;
  left: 7px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2911 {
  width: 79px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 76px;
  left: 2px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2912 {
  width: 66px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 114px;
  left: 8px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2913 {
  width: 51px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 152px;
  left: 16px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2914 {
  width: 83px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 190px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2915 {
  width: 209px;
  height: 89px;
  background: url("../images/v70_2915.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 0px;
  overflow: hidden;
}
.v70_2916 {
  width: 119px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2917 {
  width: 209px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v70_2918 {
  width: 133px;
  height: 22px;
  background: url("../images/v70_2918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 38px;
  overflow: hidden;
}
.v70_2919 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_2920 {
  width: 17px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v70_2921 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v70_2922 {
  width: 17px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v70_2923 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  overflow: hidden;
}
.v70_2924 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v70_2925 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  overflow: hidden;
}
.v70_2926 {
  width: 20px;
  height: 15px;
  background: url("../images/v70_2926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v70_2927 {
  width: 20px;
  height: 15px;
  background: url("../images/v70_2927.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v70_2928 {
  width: 6px;
  height: 7px;
  background: url("../images/v70_2928.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 7px;
  border: 1px solid rgba(0,0,0,1);
}
